%footer
  .container
    .row
      #made-by.offset4.span4
        %p
          Diseño y desarrollo por #{link_to("Potics", "http://www.potics.es", :target => "_blank")}
    #follow-us.row
      .offset8.span4.clearfix
        %p Síguenos
        %span.big-key {
        / }
        #social-box
          %ul
            %li
              %span Alex
            %li= link_to("Facebook" , "https://es-es.facebook.com/alejandro.leonmunoz", :class => 'iconic-facebook')
            %li= link_to("Google", "https://plus.google.com/u/0/116936015827712691288", :class => 'iconic-google')
            %li= link_to("Twitter", "https://twitter.com/cicloon", :class => 'iconic-twitter')
          %ul
            %li
              %span Cristy
            %li= link_to("Facebook" , "https://www.facebook.com/Cristina.Glez.Garcia", :class => 'iconic-facebook')
            %li= link_to("Google", "https://plus.google.com/u/0/109975634821926054924", :class => 'iconic-google')
            %li= link_to("Twitter", "https://twitter.com/cristy_gg", :class => 'iconic-twitter')
